@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.ParentCourseCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.card-container{
  min-width:20vw;
  width:28vw;
  height:20vw;
  border:1px solid black;
  border-radius: 1vw;
  padding:1vw;
}

.card-header{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:16%;
  /* padding:0.75vw; */
}
.course_card_owner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    box-shadow: 3px 3px 7.6px -3px rgba(0, 0, 0, 0.2) inset, -3px -3px 4px #fff,
      -3px -4px 4px rgba(255, 255, 255, 0.5) inset,
      4px 4px 7.3px rgba(0, 0, 0, 0.2);
    min-width: 40%;
    max-width: 50%;
    border-radius: .8vw;
    font-size: 1.1vw;
    color: #0059cd;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .2vw;
    padding-bottom: .2vw;
}
.course_card_owner_name{
    font-size: 1.1vw;
    font-weight: 500;
    margin-left: 1vw;
}
.course_card_owner_profile-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}
.course-card-owner-profile-button-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding:.4vw;
    width: 2vw;
    height:2vw;
    box-shadow: 4px 4px 7.300000190734863px 0px #00000033,
    -3px -4px 4px 0px #FFFFFF80 inset;
}
.course-card-owner-profile-button-circle-img{
    width: 1vw;
}

.course_top_right_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.course_no_of_likes{
    font-size: 2.4vh;
    font-weight:500;
    margin-right: 1vw;
    color: #0059cd;
  }
.course-right-circle{
    width:1vw;
    height:1vw;
    border-radius: 100%;
    box-shadow: 4px 4px 7.300000190734863px 0px #00000033,
    -3px -4px 4px 0px #FFFFFF80 inset;
}

/* .user-name{
  border-radius: 1vw;
  width:70%;
  height:3vw;
  font-size: 2vh;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding-left: 2px;  
  box-shadow: 3px 3px 7px rgb(150, 150, 150); 
} */

/* .icon{
  margin-right:1vw;
  padding: 4px;
  border-radius: 150px;

}
.name{
  padding-left: 15px;
  color: #0059CD;
  font-size: 1.2vw;
  font-family: 'Fredoka One', cursive;
} */

/* .likes{
  width:20%;
  text-align: right;  
  padding-top: 1vw;
  font-size: 1.2vw;
}

.heart{
  width:10%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: flex-start; */
  /* padding-bottom: 0.5vh; */
  
/* }
.heart-icon{ */
  /* margin-left: 0.2vw;
  margin-bottom: 1.5vw;
  padding: 0.8vw;
  border-radius:50%;
  box-shadow: 2.3px 2.5px 3px grey; 

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding:.4vw;
  width: 2vw;
  height:2vw;
  box-shadow: 4px 4px 7.300000190734863px 0px #00000033,
  -3px -4px 4px 0px #FFFFFF80 inset,
  -3px -3px 4px 0px #FFFFFF,
  3px 3px 7.599999904632568px -3px #00000033 inset;



} */

.card-content{
  margin:0;
  width:100%;
  height:60%;
  /* padding:7px;
  padding-top: 0px;
  padding-left:0.75vw; */
}

.logo{
    margin-top: 1vw;
  background-color: rgb(227, 227, 227);
  border-radius: 10px;
  width:100%;
  /* height:10.8vw; */
  height: 70%;
  box-shadow: 2px 3px px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-text{
  padding-left:1vw;
  font-size: 6vw;
  color: white;
  font-weight: 500;
  /* font-family: 'Fredoka One'; */
}

.course-title{
  width:100%;
  /* padding:10px;
  padding-left:1px ; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  /* height:4.2vw */
  height: 30%;
}
.Course{
  font-size: 1.5vw;
  color:#0059CD;
  font-weight: 500;
  /* font-family: 'Fredoka One', cursive; */
}

.card-footer{
  width:100%;
  height:20%;
  /* padding:7px;
  padding-top:7px; */
}

.hz-line{
  width:100%; 
  /* height:1.5vw; */
  height:20%;
}
.line{
  border:1px solid #0059CD;
  height:0;
}

.join-btn{
  border-radius: 1vw;
  border: none;
  width:100%;
  /* height:3.5vw ; */
  height:80% ;
  background-color: #0059CD;
  color: white;
  /* margin-left:0.5vw; */
  margin:0;
  font-size: 1.5vw;
  font-weight: 500;
  /* font-family: 'Fredoka One', cursive; */
}