* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

.body {
  background-color: #f8f4f4; /* Slightly greyish background */
  color: #111;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 100%;
  max-width: 1119px; /* Set maximum width */
  height: 100%; /* Set height */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.card-hover {
  border-color: rgba(0, 89, 205, 1);
}


.btn:hover {
  background: transparent;
  color: rgba(0, 89, 205, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.spacer {
  flex: 1;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #b1acac; /* Add border at the bottom */
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the position as needed */
  transform: translateY(-50%);
  color: rgba(0, 89, 205, 1); /* Blue color */
  cursor: pointer;
}

.search-icon i {
  font-size: 18px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-rectangular {
  border: 1px solid rgba(0, 89, 205, 1);
  outline: rgba(0, 89, 205, 1);
  background: #fff;
  color: rgba(0, 89, 205, 1);
  border-radius: 20px;
  font-size: min(2vh, 1.6vw);
  padding: min(0.5vh, 1vw) min(1vh, 2vw);
  margin: 0.3vw;
  margin-bottom: 2%;
  margin-top: -3%;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.btn-rectangular:hover,
.btn-rectangular:focus {
  background: rgba(0, 89, 205, 1);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}



.tab {
  width: 100%;
  height: 15vh;
  margin-bottom: 2vh; /* Adjust spacing between tabs */
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: min(8.5vh,6vh);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
   /* Set initial height as a percentage of viewport height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.blue-box {
  position: absolute;
  border-style: outset;
  top: 0.7vh;
  left: 5px;
  bottom: 10px;
  width: calc(9.5vw);
  height: max(13.2vh); /* Set height to 100% */
  background-color: rgba(0, 89, 205, 1);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5); /* Add white shadow */
  border: 4px solid rgba(103, 188, 249, 0.5);
}

.tab-info {
  position: absolute;
  top: 50%;
  left: calc(14.2857% + 5px); /* Adjust for blue box width and margin */
  transform: translateY(-45%);
  text-align: center;
  width: calc(100% - (14.2857% + 5px) * 2); /* Calculate available width after accounting for blue box and margin */
  height: 100%; /* Set height to 100% to fill the tab */
}


.number {
  position: absolute;
  top: 7.0vh;
  right: -5.4vw; /* Adjust as needed */
  transform: translateY(-50%);
  font-size: min(3vw, 4vh);
  color: rgba(0, 89, 205, 1);
  font-weight: bold;
  margin-bottom: 0;
}

.name {
  position: absolute;
  color: rgba(0, 89, 205, 1);
  left:0%;
  margin-top: 2vh; /* Adjust top position as needed */
  font-size: min(4.5vw, 4vh);
  font-weight: bold;
  margin-bottom: 20px;
}

.username {
  position: absolute;
  font-size: min(2.7vw, 2.5vh);
  left: 0;
  margin-top: 8.5vh; /* Adjust top position as needed */
  color: #666;
  margin-bottom: 10px;
}

.svg-dollar { /* Set the width */
  height: min(3.5vh,4.5vw); /* Set the height */
  position: absolute; /* Position the SVG */
  top: 6.4vh; /* Adjust the top position */
  right: 2vw; /* Adjust the right position */
}

