* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

.body {
  background-color: #f8f4f4; /* Slightly greyish background */
  color: #111;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 100%;
  max-width: 1119px; /* Set maximum width */
  height: 100%; /* Set height */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.card-hover {
  border-color: rgba(0, 89, 205, 1);
}


.btn:hover {
  background: transparent;
  color: rgba(0, 89, 205, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.spacer {
  flex: 1;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #b1acac; /* Add border at the bottom */
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the position as needed */
  transform: translateY(-50%);
  color: rgba(0, 89, 205, 1); /* Blue color */
  cursor: pointer;
}

.search-icon i {
  font-size: 18px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-rectangular {
  border: 1px solid rgba(0, 89, 205, 1);
  outline: rgba(0, 89, 205, 1);
  background: #fff;
  color: rgba(0, 89, 205, 1);
  border-radius: 20px;
  font-size: min(2vh, 1.6vw);
  padding: min(0.5vh, 1vw) min(1vh, 2vw);
  margin: 0.3vw;
  margin-bottom: 2%;
  margin-top: -3%;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.btn-rectangular:hover,
.btn-rectangular:focus {
  background: rgba(0, 89, 205, 1);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}


.tab {
  width: 100%;
  height: 15vh;
  margin-bottom: 2vh; /* Adjust spacing between tabs */
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: min(8.5vh,6vh);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
   /* Set initial height as a percentage of viewport height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.blue-box {
  position: absolute;
  border-style: outset;
  top: 0.7vh;
  left: 5px;
  bottom: 10px;
  width: calc(9.5vw);
  height: max(13.2vh); /* Set height to 100% */
  background-color: rgba(0, 89, 205, 1);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5); /* Add white shadow */
}

.tab-info {
  position: absolute;
  top: 50%;
  left: calc(14.2857% + 5px); /* Adjust for blue box width and margin */
  transform: translateY(-45%);
  text-align: center;
  width: calc(100% - (14.2857% + 5px) * 2); /* Calculate available width after accounting for blue box and margin */
  height: 100%; /* Set height to 100% to fill the tab */
}


.number {
  position: absolute;
  top: 4.5vh;
  right: -11%; /* Adjust as needed */
  transform: translateY(-50%);
  font-size: min(2.5vw, 3vh);
  color: rgba(0, 89, 205, 1);
  font-weight: bold;
  margin-bottom: 0;
}

.name {
  position: absolute;
  color: rgba(0, 89, 205, 1);
  left: -15%;
  margin-top: 2vh; /* Adjust top position as needed */
  font-size: min(4.5vw, 4vh);
  font-weight: bold;
  margin-bottom: 20px;
}

.underline {
  position: relative;
  top: 8vh;
  left: -15%;
  width: 134%;
  height: 2px;
  background-color: rgba(0, 89, 205, 1);
}

.tab-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Adjust margin as needed */
}

.tab-btn {
  border: 1px solid rgba(0, 89, 205, 1);
  outline: rgba(0, 89, 205, 1);
  background: #fff;
  color: rgba(0, 89, 205, 1);
  border-radius: 20px;
  padding: min(0.5vw,0.25vh) min(1vw,0.5vh);
  margin: 0.5vh;
  margin-right: 0.1vw;
  margin-top: 7.5vh;
  font-size: min(2vw, 2vh); /* Adjust margin as needed */
  cursor: pointer;
}

.tab-btn-right {
  border: none;
  outline: none;
  background: none;
  position: relative;
  left: -2.3vw;
  top: 0.1vh;
  color: rgba(0, 89, 205, 1);
  cursor: pointer;
  font-size: min(1.8vw, 2.6vh);
  font-weight: bolder;
}


.tab-btn-container {
  margin-left: -7.8vw;
  font-size: min(2vw, 2vh);
}

.tab-btn-container.right {
  justify-content: flex-end; /* Align buttons to the right */
}


.svg-star {
  position: absolute; /* Position the heart SVG absolutely */
  top: 5.2vh; /* Position the heart vertically centered */
  right: 0vw; /* Position the heart horizontally centered */
  transform: translate(-50%, -50%); /* Center the heart precisely */
  height: min(4.3vh, 3.5vw); /* Adjust the height of the heart SVG */
}

